/* App.css */

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 10px;
}

.image-container {
  margin: 20px 0;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #f4f4f4;
}

img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s;
}

img[src] {
  opacity: 1;
}

.sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensures it stays on top of other content */
}